<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        /* *{
            outline: 1px solid black;
        } */
        body {
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: yellow;
        }

        #container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .clickers {
            justify-content: space-evenly;
            display: flex;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1><b>COUNTER</b></h1>
        <p>Time visit(s): {{session["count"]}}</p>
        <form class="clickers" action="/add_reset" method="post">
            <button class="btn btn-primary" type="submit" name="fix" value="add">Click</button>
            <button type="submit" class="btn btn-danger" name="fix" value="reset">Reset</button>
        </form>
        <h3>Input your number here!</h3>
        <form class="clickers" action="/user" method="post">
            <input type="number" class="w-25 form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>